/*.post-content{
	margin-top: 100vh;
}*/

.teaserimage{
	height: 900px !important;
	text-indent: 0px !important;
}

.teaserimage > h1{
	color: white;
	z-index: 2;
	margin-top: 200px;
	position: relative;
	font-size: 200px;
}