body {
    background-color: #663399;
    margin-left:15px;
}
#header{
    background-color:#F8F8FF; width = 540px;
    margin-bottom:15px;align="center";
}
#footer{
    background-color:#F8F8FF;clear:both;text-align:center;
    margin-top:15px; margin-bottom:15px;
}
#container{
    width:1080px;
}
#contentL{
    background-color:#F8F8FF;height:400px;width:532.5px;
    margin-bottom:15px; 
    float:left;
}
#contentR{
    background-color:#F8F8FF;height:400px;width:532.5px;
    margin-bottom:15px; margin-left:15px;
    float:left;
}

#menu{
    background-color:#F8F8FF;height:400px;width:1080px;float:left;
    margin-bottom:15px; 
}

#NU{
    margin-top:15px; margin-bottom:15px; margin-left:15px; margin-right:15px;
  
}
#link{
    margin-top:30px; margin-bottom:15px; margin-left:15px; margin-right:15px;
}
.edge{
    margin-top:15px; margin-bottom:15px; margin-left:15px; margin-right:15px; float:left;
}

