/*
Override styles
*/

/*
UTIL CLASSES
*/
.hide{
  display: none;
}

.btn-new{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  border: #bfc8cd 1px solid;
  opacity: 1;
  color: #9EABB3;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-new:hover{
	background-color: #FFFFFF;
}

.teaserimage-image{
	text-indent: 0px !important;
}


html, body, .page-content, .wrapper, .teaserimage{
  height: 100%;
}

.teaserimage{
	height: 100% !important;
}

.center-75{
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
}

.center-50{
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}

.descrip-wrap{
	margin-top: 10%;
	text-align: center;
	word-wrap: break-word;

	.page-title{
		-webkit-text-stroke: 1px black;
		font-size: 4rem;
		letter-spacing: -1px;
		font-weight: 700;
		font-family: "Open Sans", sans-serif;
		color: #fff;
	}

	.page-descrip{
		font-size: 2rem;
		line-height: 1.5em;
		font-weight: 400;
		font-family: "Merriweather", serif;
		letter-spacing: 0.01rem;
		color: rgba(255,255,255,0.8);
	}
}

#search-container{

  #search-bar{
    min-width: 80%;
  	font-size: 20px;

  }
}



#search-items{
    padding-left: 0px;
    padding-right: 0px;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
	  margin-top: 0px;

	li{
		list-style-type: none;
		background-color: #FFFFFF;
    padding-top:    2%;
    padding-bottom: 2%;

  	border: solid;
		border-color: black;
  	// border-width: thick;

		img{
			min-width:  50px;
			min-height: 50px;
			max-width: 100px;
			maxheight: 100px;
			margin: 5px;
		}

	}
	li:hover, li.is_selected{
		// background-color: rgba(200,54,54,.5);
		background-color: #F6F1DB;
	}

}

#search-bar:not(:valid) + ul{
	display: none;
}

#search-bar:valid + ul{
	display: block;
}

#post-container{
	ul{
		li{
			list-style-type: none;
		}
	}
}

.arrow-down{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
  right: 0;

  a{
    img{
      max-width:  30px;
      max-height: 30px;
    }
  }
}

.icon{
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
  transition: all ease .3s;
  opacity: .7;
}

.icon:hover{
  transition: all ease .3s;
  opacity: 1;
}

#github{
  text-align: center;
  img{
    transition: all ease !important;
    max-width:  50px !important;
    max-height: 50px !important;
  }
}


.custom-links{
	font-size: 30px;
}

.post-header{
  transition: all ease .3s;
  opacity: .8;
}
.post-header:hover{
  transition: all ease .3s;
  opacity: 1;
}


/*
posts
*/

// .post-title{
//   font-weight: 700;
//     font-style: normal;
//     letter-spacing: -0.04em;
//     font-size: 50px;
//     line-height: 1.1;
//     color: #fff;
//     margin-bottom: 16px;
//     text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
// }

// .author-image{
//   display: inline-block;
//   width: 60px;
//   height: 60px;
//   line-height: 30px;
//   border-radius: 100%;
// }

#fakecontent{
  margin-top: 25%;
}

.post-meta{
  .content{
    .post-title{
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.04em;
      font-size: 50px;
      line-height: 1.1;
      color: #fff;
      margin-bottom: 16px;
      text-shadow: 0px 1px 16px rgba(0,0,0,0.5), 0px 0px 1px rgba(0,0,0,0.5);
    }
  }
}

.author-image{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px;
}

.author-name{
  display: inline;
}

:not(.noarticleimage){

  .post-meta{

    .post-meta-text{
      color: rgba(255,255,255,0.75);
      letter-spacing: -0.02em;
      font-weight: 400;
      font-style: normal;
      text-shadow: 0px 1px 4px rgba(0,0,0,0.25), 0px 0px 1px rgba(0,0,0,0.5);
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a{
        color: rgba(255,255,255,0.75);
        &:hover{
          color: rgba(255,255,255,1);
        }
      }
    }

  }

}

.noarticleimage{
  .post-meta{
    .post-meta-text{
      color: #b3b3b1;
      text-shadow: none;
    }
  }
}

/*
Media Queries
*/

@media only screen and (max-width: 900px) {
  /* line 229, ../sass/main.scss */
  #search-box {
    display: none;
  }
}



/*
Animations
*/

.arrow-down{
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
}


@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    20% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    30% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    40% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    60% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}


.spinner {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  display: block;
  -webkit-animation: spinner 2s infinite ease-in;
  -moz-animation: spinner 2s infinite ease-in;
  -o-animation: spinner 2s infinite ease-in;
  animation: spinner 2s infinite ease-in;
}

@-moz-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-filter: hue-rotate(36deg);
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  20% {
    -webkit-filter: hue-rotate(72deg);
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  30% {
    -webkit-filter: hue-rotate(108deg);
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    transform: rotate(108deg);
  }
  40% {
    -webkit-filter: hue-rotate(144deg);
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    transform: rotate(144deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  60% {
    -webkit-filter: hue-rotate(216deg);
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    transform: rotate(216deg);
  }
  70% {
    -webkit-filter: hue-rotate(252deg);
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    transform: rotate(252deg);
  }
  80% {
    -webkit-filter: hue-rotate(288deg);
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    transform: rotate(288deg);
  }
  90% {
    -webkit-filter: hue-rotate(324deg);
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    transform: rotate(324deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}